<p>Hi,</p>

<p>You received a reply by <%= @commenter.name %> on your comment:</p>

<blockquote><%= @prior_message %></blockquote>

<p>They replied:</p>

<blockquote><%= @message %></blockquote>

<p>You can <%= link_to 'view the conversation here', photo_url(@parent.id) %>.</p>

<p>Thanks,</p>

<p><%= @admin_name %></p>

<p>P.S.: If you have any questions or concerns, or notice any buggy site behavior, please feel free to contact me at <%= link_to @support_email, "mailto:#{ @support_email }" %> rather than <%= @mom_name %> directly.</p>