<p>Hi,</p>

<p>A user, <%= @user.name %>, submitted a ticket titled: <%= @title %>.</p>

<p>Message:</p>

<blockquote><%= @message %></blockquote>

<p>You can <%= link_to 'view the reply here', ticket_url(@ticket.id) %>.</p>

<p>Thanks,</p>

<p><%= @admin_name %></p>

<p>P.S.: If you have any questions or concerns, or notice any buggy site behavior, please feel free to contact me at <%= link_to @support_email, "mailto:#{ @support_email }" %> rather than <%= @mom_name %> directly.</p>