<p>Hi,</p>

<p>You received a reply by <%= @admin.name %> on your ticket titled: "<%= @title %>".</p>

<p>Message:</p>

<blockquote><%= @message %></blockquote>

<p>You can <%= link_to 'reply here', ticket_url(@ticket.id) %>.</p>

<p>Thanks,</p>

<p><%= @admin_name %></p>

<p>P.S.: If you have any questions or concerns, or notice any buggy site behavior, please feel free to contact me at <%= link_to @support_email, "mailto:#{ @support_email }" %> rather than <%= @mom_name %> directly.</p>