<div class="media-left">
  <% if !comment.user.avatar.file.nil? %>
    <%= image_tag comment.user.avatar, class: 'avatar img-rounded' %>
  <% else %>
    <%= gravatar_helper comment.user %>
  <% end %>
</div>
<div class="media-body">
  <p><%= comment.body %></p>
  <p><small>Posted <%= time_ago_in_words(comment.created_at) %> ago by <%= comment.user.name %></small></p>
  <%= form_for [comment, Comment.new] do |f| %>
  <div class="form-group">
    <%= f.label :body, 'Add a reply' %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit 'Reply', class: 'btn btn-default' %>
<% end %>
</div>

<div class="media comment">
  <%= render partial: 'comments/comment', collection: comment.comments %>
</div>