<% provide(:title, "Users List") %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= yield(:title) %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <%= paginate @users %>
    </div>
  </div>
  <div class="row user-list">
    <% @users.each do |user| %>
      <div class="col-sm-6 col-md-4 user-list-item">
        <div class="media-left">
          <% if !user.avatar.file.nil? %>
            <%= image_tag user.avatar, class: 'media-object avatar img-rounded' %>
          <% else %>
            <%= gravatar_helper user %>
          <% end %>
        </div>
        <div class="media-body">
          <h2><%= user.name %></h2>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <%= paginate @users %>
    </div>
  </div>
</div>