<p>Hello,</p>

<p>Someone has requested an invitation to <%= root_url %>, the private photo-sharing website for <%= @mom_name %>'s child <%= @child_name %>. You can review the details below.</p>

<p>Name: <%= @request.name %><br/>
Email: <%= @request.email %><br/>
How They Know <%= @mom_name %>: <%= @request.how_they_know %></p>

<p>If the information they provided seems legitimate, you can invite them at:</p>

<p><%= new_invitation_url(:user) %></p>

<p>Thanks,</p>

<p><%= @admin_name %></p>

<p>P.S.: If you have any questions or concerns, or notice any buggy site behavior, please feel free to contact me at <%= link_to @support_email, "mailto:#{ @support_email }" %> rather than <%= @mom_name %> directly.</p>