<% provide(:title, "Frequently Asked Questions") %>
<div class="container">
  <h1><%= yield(:title) %></h1>
  <h2>Signing Up</h2>
  <div class="panel-group" id="signing-up-accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#signing-up-accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          How do I sign up?
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <p>This website is invitation-only to ensure only family and friends of <%= @mom_name %> and <%= @child_name %> have access. You can <%= link_to 'request an invitation here', new_request_path %>.</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#signing-up-accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          I just got an invitation. What do I do?
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <p>Click the link in the invitation to accept the invite. You will be taken to a page where you will need to set your password.</p>
        </div>
      </div>
    </div>
  </div>
  <h2>Comments</h2>
  <div class="panel-group" id="comments-accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#comments-accordion" href="#commentsCollapseOne" aria-expanded="false" aria-controls="collapseOne">
          Why isn't my picture next to my comments?
          </a>
        </h4>
      </div>
      <div id="commentsCollapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <p>If you haven't set an avatar already, this site will try to find your picture for you from <%= link_to 'Gravatar', 'https://en.gravatar.com/' %>, a service used by WordPress and other sites.</p>
          <p>If you don't have a Gravatar either, the Gravatar default icon will appear instead:</p>
          <%= image_tag 'https://www.gravatar.com/avatar/00000000000000000000000000000000' %>
          <p>You can upload an avatar from the <%= link_to 'edit account page', edit_registration_path(:user) %>.</p>
        </div>
      </div>
    </div>
  </div>
</div>