<h1><%= @page_title %></h1>

<% @photos.each do |photo| %>
  <figure>
  <%= image_tag photo.photo_upload %>
  <figcaption>
    <%= photo.caption %> | Posted <%= distance_of_time_in_words(photo.created_at, Time.now) %> ago by <%= photo.user.email %>
  </figcaption>
  </figure>
  <%= link_to 'Show', photo %>
  <%= link_to 'Edit', edit_photo_path(photo) %>
  <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to 'New Photo', new_photo_path %>
