<% provide(:title, "Photo #{@photo.id}") %>

<div class="container">
  <%= image_tag @photo.photo_upload, class: 'img-responsive img-show' %>
  <p><%= @photo.caption %></p>
  <p><em>Taken <%= distance_of_time_in_words(@photo.created_at, Time.now) %> ago</em></p>
  <p><%= link_to 'Edit', edit_photo_path(@photo), class: 'btn btn-warning', role: 'button' if logged_in?(:site_admin, :helper) %></p>

  <h3>Comments</h3>

  <%= form_for [@photo, Comment.new] do |f| %>
    <div class="form-group">
      <%= f.label :body, 'Add a comment' %>
      <%= f.text_area :body, class: 'form-control' %>
    </div>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit "Add comment", class: 'btn btn-default' %>
  <% end %>

  <div class="media">
    <%= render(partial: 'comments/comment', collection: @photo.comments) %>
  </div>

  <p>
    <%= link_to 'Back', photos_path, class: 'btn btn-primary', role: 'button' %>
  </p>
</div>