<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %> | <%= @site_title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Home', root_url %>
      <%= link_to 'Photos', photos_path %>
      <%= link_to 'Invite Users', new_user_invitation_path if logged_in?(:site_admin, :helper) %>
    </nav>
    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>
    <%= yield %>
    <footer>
      © 2017 <%= @mom_name %>. Developed by <%= link_to 'Chazona Baum', 'https://chazonabaum.com' %>.
    </footer>
  </body>
</html>
